{% extends 'base.html.twig' %}

{% block title %}Page du produit{% endblock %}

{% block body %}

 <div class="container mt-5">
    <div class="row">
        <div class="card text-center">
            <div class="card-header ">
                <img class="imageSize" src="{{asset('uploads/images/'~product.image)}}" class="card-img-top" > 
            </div>
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.description}}</p>
            <p class="card-text">{{product.price}}€</p>
            <a href="#" class="btn btn-outline-primary">Ajouter au panier</a>
            <a href="#" class="btn btn-outline-primary">Ajouter à mes favoris</a>
        </div>
        {# <div class="card-footer text-body-secondary">
            2 days ago
        </div> #}
    </div>
    <h2 class="mt-5 text-center">Derniers produits ajoutés</h2>
    <div class="row">
        {% for product in products %} {#dans la boucle for le products qu'on récupère est dans note homepagecontroller#}
        <div class="card text-bg-dark col-md-4 m-4 p-2">
            <img src="{{asset('uploads/images/'~product.image)}}" class="card-img-top" > 
        <div class="card-body border-ligh" >
            <a class ="titleProductLink" href="{{ path('app_home_product_show', {'id': product.id}) }}"><h5 class="card-title">{{product.name}}</h5></a>
            <p class="card-text">{{product.price}}€</p>
            <p class="card-text">{{product.description|slice(0,100)}}...</p>
        </div>
        </div>
        {% endfor %}   
    </div>
</div>

{% endblock %}
