{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h2>Mes Catégories</h2>
            {#Affichage d'un message flash#}
            {% include 'layouts/_flash_message.html.twig'%}
                {# {{ dump(categories) }} #}
                {% for categories in categories %} 

                    <div class="card col-3 m-3 d-flex" style="width: 18rem;">
                        {# <img src="..." class="card-img-top" alt="..."> #}
                        <div class="card-body">
                            <h5 class="card-title">{{ (categories.name) }}</h5>
                            {# <p class="card-text">Description ou pas (à voir)</p> #}
                            <a class="btn btn-outline-primary" href="{{ path('app_category_update',{'id': categories.id}) }}">Modifier</a>
                            <a onclick ="return confirm('Voulez-vous vraiment supprimer cette catégorie ?')" class="btn btn-outline-danger" href="{{ path('app_delete',{'id': categories.id}) }}">Supprimer</a>
                        </div>
                    </div>
                       
                {% endfor %}   
            <div>
                <a href="{{ path('app_category_new') }}" class="btn btn-primary">Ajout d'une catégorie</a>
            </div>  
        </div>
    </div>

{% endblock %}
