{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="form">
            <h2>Mes Catégories</h2>
            {#Affichage d'un message flash#}
            {% include 'layouts/flash_message.html.twig'%}
            <div class="card-body">
                {# {{ dump(categories) }} #}
                {% for categories in categories %} 

                <p>{{ (categories.name) }}</p>
                    <a href="{{ path('app_category_update',{'id': categories.id}) }}" class="btn btn-warning">Modifier</a>
                    <a href="{{ path('app_delete',{'id': categories.id}) }}" class="btn btn-danger">Supprimer</a>
                    
                {% endfor %}   
            </div>
            <div>
                <a href="{{ path('app_category_new') }}" class="btn btn-primary">Ajout d'une catégorie</a>
            </div>  
        </div>
    </div>

{% endblock %}
