{% extends 'base.html.twig' %}
{% block title %}Historique d'ajout du stock {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5 mb-5">Historique d'ajout du stock</h1>
        {#Affichage d'un message flash#}
        {# {% include 'layouts/_flash_message.html.twig'%} #} 
            <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Quantité</th>
                    <th>Date d'ajout du stock</th>
                </tr>
            </thead>
            <tbody>
            {% for productAddHistory in productsAddHistories %}
                <tr>
                        <td>{{ productAddHistory.product.id }}</td>
                        <td>{{ productAddHistory.product.name }}</td>
                        <td>{{ productAddHistory.quantity }}</td>
                        <td>{{ productAddHistory.createdAt | date ('d-m-Y H:i:s', 'Europe/Paris' )}}</td>
                    </tr>
                {% endfor %}
            </table>
        <a class="btn btn-outline-primary" href="{{ path('app_product_index') }}">back to list</a>
    </div>

{% endblock %}